<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><a href="/">Task List</a></h1>
    </div>
    
    {% for task in tasks %}
        <div>
            <p>created date: {{ task.created_date }}</p>
            <h2><a href="">{{ task.task_title }}</a></h2>
            <p>{{ task.description|linebreaksbr }}</p>
        </div>
    {% endfor %}

</body>
</html>